tensorflow==2.15.0
opencv-python==4.9.0.80
numpy==1.26.4
mediapipe==0.10.14
pygame==2.5.2
matplotlib==3.8.4
scikit-learn==1.4.2
Flask==3.0.0
Werkzeug==3.0.1
scipy==1.11.4
kagglehub[pandas-datasets]==0.2.7
tensorflow==2.15.0
